<div class="content">
  <h4>Sendestatus</h4>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="8">
      <div fxLayout="row">
        <mat-form-field class="selectItem">
          <mat-label>Ort</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.ort }}" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="selectItem">
          <mat-label>LAPU</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.zielLapu }}" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="selectItem">
          <mat-label>Skid-Nr.</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.skidNr }}" />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column" fxFlex="8">
      <div fxLayout="row">
        <mat-form-field class="selectItem">
          <mat-label>SEPU</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.zielSepu }}" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="selectItem">
          <mat-label>HRK-Nr.</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.hrknr }}" />
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxFlex="32">
      <h4>Aktueller FP</h4>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="16">
          <mat-form-field class="selectItem">
            <mat-label>FP FHS</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fpFhs }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="16">
          <mat-form-field class="selectItemLong">
            <mat-label>Bezeichnung</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fpfhsBenennung }}" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="16">
          <mat-form-field class="selectItem">
            <mat-label>FP RHM</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fpRhm }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="16">
          <mat-form-field class="selectItemLong">
            <mat-label>Bezeichnung</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fpRhmBenennung }}" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="16">
          <mat-form-field class="selectItem">
            <mat-label>FP LMT</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fpLmt }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="16">
          <mat-form-field class="selectItemLong">
            <mat-label>Bezeichnung</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fpLmtBenennung }}" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="40">
      <h4>Sendekennung</h4>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <mat-label>Fhi</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fhisendung }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.fhiSendStatus }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <mat-label>RHM</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.rhmsendung }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.rhmSendStatus }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <mat-label>LMT</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.lmtsendung }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.lmtSendStatus }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <mat-label>UBM</mat-label>
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.ubmsendung }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="4">
          <mat-form-field class="selectItemShort">
            <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.ubmSendStatus }}" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="8">Sperren</div>
      </div>
      <div fxLayout="row">
        <mat-form-field class="selectItemShort">
          <mat-label>Sendbar</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.sendbar }}" />
        </mat-form-field>
        <mat-form-field class="selectItemShort">
          <mat-label>Zugebunden</mat-label>
          <input matInput type="text" [readonly]="true" value="{{ einzelauskunft?.zugebunden }}" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
