@use '@angular/material' as mat;
@import "../node_modules/emst-ui-frame/assets/daiTheme.scss";

@include mat.core();

$primary-color-lighter: map-get($mat-primary, lighter);
$primary-color-even-lighter: lighten($primary-color-lighter, 10%);

$primary-light: mat.get-color-from-palette($mat-primary, lighter);
$primary-default: mat.get-color-from-palette($mat-primary, main);
$primary-dark: mat.get-color-from-palette($mat-primary, darker);
$primary-foreground: mat.get-color-from-palette($mat-primary, foreground);
$primary-lighter: mat.get-color-from-palette($mat-primary, A400);

$accent-light: mat.get-color-from-palette($mat-accent, lighter);
$accent-default: mat.get-color-from-palette($mat-accent, main);
$accent-dark: mat.get-color-from-palette($mat-accent, darker);

$warn-color: map-get($mat-warn, main);
$warn-default: mat.get-color-from-palette($mat-warn, main);
$warn-foreground: mat.get-color-from-palette($mat-warn, foreground);
$warn-color-lighter: map-get($mat-warn, lighter);

html,
body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

///////////////////////////////////////////////
// START for full-screen-presentation (images)
// global styles used - these are not customizable via component config
mat-sidenav {
  z-index: 0 !important;
}

button.full-screen-button {
  visibility: hidden;
}

span.full-screen-icon {
  font-size: 64px;
  background-color: white;
}

.nav-button-container {
  bottom: 0px !important;
}

// this style destroys panning of image!
// .full-screen-button-container {
//   top: 0;
// }
// END for full-screen-presentation (images)
///////////////////////////////////////////////

.toolbar-spacer {
  flex: 1 1 auto;
}

.pointy {
  cursor: pointer;
}

// Warum steht da manchmal "." und manchmal nicht?
// Sollen die Styles für mat hierher?
// Sander fragen
// Antwort: Das hat etwas mit dem Kontext des Aurufs zu tun, beispielsweise hätte man sonst
// in einem Expansion Panel eine andere Schriftgroesse

mat-form-field {
  font-size: 14px !important;
  line-height: 15.75px;
}

mat-checkbox {
  font-size: 14px !important;
  line-height: 15.75px;
}

mat-slide-toggle {
  font-size: 14px !important;
  line-height: 15.75px;
}

// Wird benötigt für das Minimieren unten links
.mat-drawer {
  max-width: 250px;
}
