<div class="container mat-elevation-z8">
  <div class="content">
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="30">
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="40">
            <mat-form-field class="selectItemLong">
              <mat-label>{{ 'label.einzelauskunft.suchoption' | translate }}</mat-label>
              <mat-select [(value)]="selected">
                <mat-option *ngFor="let option of options" [value]="option"> {{ option.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxFlex="40">
            <mat-form-field class="selectItemLong">
              <mat-label>{{ selected.key }}</mat-label>
              <input matInput placeholder="" [(ngModel)]="selected.filter" (keyup.enter)="search()" />
            </mat-form-field>
          </div>
          <!-- <p>You selected: {{ selected.key }} {{ selected.filter }}</p>-->
          <div fxLayout="column" fxFlex="20">
            <button mat-raised-button color="primary" (click)="search()">{{ 'action.einzelauskunft.suche' | translate }}</button>
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button [disabled]="!hasPrivilegeEdit() || !isEditable()" mat-menu-item (click)="onclickChangeBand()">
                <mat-icon>edit</mat-icon>
                <span>Band wechseln</span>
              </button>
              <button [disabled]="!hasPrivilegeEdit() || !isEditable()" mat-menu-item (click)="onclickEditRemark()">
                <mat-icon>edit</mat-icon>
                <span>Bemerkungstext ändern</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxFlex="5"></div>

      <div fxLayout="column" fxFlex="65">
        <div *ngIf="isPNRChooserVisible()">
          <app-pnr-chooser [auftragList]="auftragList" [currentAuftrag]="auftragSearch" (auftragChanged)="onAuftragChanged($event)"> </app-pnr-chooser>
        </div>
      </div>
    </div>

    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <app-einzelauskunft-kopf [daten]="auftrag"></app-einzelauskunft-kopf>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="20">
        <app-einzelauskunft-rf [daten]="auftrag"></app-einzelauskunft-rf>
      </div>
      <div fxFlex="5px" fx class="content">
        <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
      </div>

      <div fxLayout="column" fxFlex="80">
        <app-einzelauskunft-termine [daten]="auftrag"></app-einzelauskunft-termine>
      </div>
    </div>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="20">
        <app-einzelauskunft-ort [daten]="auftrag"></app-einzelauskunft-ort>
      </div>
      <div fxFlex="5px" fx class="content">
        <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
      </div>
      <div fxLayout="column" fxFlex="25">
        <app-einzelauskunft-aktuelleFP [daten]="auftrag"></app-einzelauskunft-aktuelleFP>
      </div>
      <div fxFlex="5px" fx class="content">
        <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
      </div>
      <div fxLayout="column" fxFlex="25">
        <app-einzelauskunft-sendestatus [daten]="auftrag"></app-einzelauskunft-sendestatus>
      </div>
      <div fxFlex="5px" fx class="content">
        <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
      </div>
      <div fxLayout="column" fxFlex="15">
        <app-einzelauskunft-sperren [daten]="auftrag"></app-einzelauskunft-sperren>
      </div>
      <div fxFlex="5px" fx class="content">
        <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
      </div>

      <div fxLayout="column" fxFlex="15">
        <app-einzelauskunft-audit [daten]="auftrag"></app-einzelauskunft-audit>
      </div>
    </div>
  </div>
</div>
