app-sendemaske content {
  width: 100%;
  height: 100%;
}

app-sendemaske table {
  width: 100%;
}

::ng-deep .mat-select-panel-wrap,
.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 99999 !important;
}

::ng-deep app-sendemaske table td,
app-sendemaske table th {
  padding-left: 0.25em !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  white-space: nowrap;
}

::ng-deep app-sendemaske #bottomArea table th.mat-header-cell {
  top: 50px !important;
}

::ng-deep app-sendemaske table th.mat-header-cell:first-of-type,
app-sendemaske td.mat-cell:first-of-type,
app-sendemaske td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

::ng-deep app-sendemaske tr.mat-row,
app-sendemaske tr.mat-footer-row {
  height: auto !important;
}
