<div #sendemaske style="width: 100%; height: 100%; background-color: white">
  <div class="mat-elevation-z8" style="width: 100%; height: calc(100% - 150px); background-color: white">
    <as-split direction="vertical">
      <as-split-area>
        <dai-table [tableConfig]="daiTableConfigTop"></dai-table>
      </as-split-area>
      <as-split-area>
        <dai-table [tableConfig]="daiTableConfigBottom"></dai-table>
      </as-split-area>
    </as-split>
    <div class="mat-elevation-z8" style="width: 100%; height: 150px; background-color: white">TERMINE</div>
  </div>
</div>
