<div fxLayout="row">
  <div fxLayout="column" fxFlex="40">
    <mat-form-field class="selectItemLong">
      <mat-label>{{ 'label.einzelauskunft.suchoption' | translate }}</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let option of options" [value]="option"> {{ option.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxFlex="40">
    <mat-form-field class="selectItemLong">
      <mat-label>{{ selected.key }}</mat-label>
      <input matInput placeholder="" [(ngModel)]="selected.filter" />
    </mat-form-field>
  </div>
  <!-- <p>You selected: {{ selected.key }} {{ selected.filter }}</p>-->
  <div fxLayout="column" fxFlex="20">
    <button mat-raised-button color="primary" (click)="search()">{{ 'action.einzelauskunft.suche' | translate }}</button>
  </div>
</div>
