@import "../../../../styles.scss";

::ng-deep .mat-card {
  color: inherit;
  opacity: 0.95;
}

::ng-deep .mat-snack-bar-container {
  background: transparent;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  box-shadow: none;
}

.msgStandard,
.msgInfo {
  background-color: $primary-default;
  color: rgba(255, 255, 255, 0.7) !important;
}

.msgError {
  background-color: $warn-default;
  color: rgba(255, 255, 255, 0.7) !important;
}
