.content {
  padding: 16px;
}
.selectItem {
  width: 100px;
}

.dateItem {
  width: 120px;
}

.selectItemLong {
  width: 180px;
}

.selectItemShort {
  width: 40px;
}
table {
  width: 100%;
}
.basic-container {
  background-color: #6699ff;
  border: 2px solid #ccc;
  margin-bottom: 2px;
  border-radius: 4px;
}
.version-info {
  font-size: 8pt;
  float: right;
}
