<div class="content">
  <h4>{{ 'text.einzelauskunft.termine' | translate }}</h4>
  <div fxLayout="row">
    <div fxLayout="column" style="width: 250px">
      <div fxLayout="row">

          <mat-form-field class="dateItem">
            <mat-label>{{ 'label.einzelauskunft.ibsperre' | translate }}</mat-label>
            <input matInput  [class.basic-container]="ibSperreIsSet()" [readonly]="true" value="{{ termine?.ibSperre | date: 'dd.MM.yyyy HH:mm' }} " />
          </mat-form-field>

      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field class="selectItem">
            <mat-label>{{ 'label.einzelauskunft.pat' | translate }}</mat-label>
            <input matInput [readonly]="true" value="{{ termine?.patJul }} " />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field class="selectItem">
            <mat-label>{{ 'label.einzelauskunft.patdatum' | translate }}</mat-label>
            <input matInput [readonly]="true" value="{{ termine?.pat | date: 'dd.MM.yyyy' }} " />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field class="selectItemShort">
            <mat-label>{{ 'label.einzelauskunft.sat' | translate }}</mat-label>
            <input matInput [readonly]="true" value="{{ termine?.satJul }} " />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field class="selectItem">
            <mat-label>{{ 'label.einzelauskunft.satdatum' | translate }}</mat-label>
            <input matInput [readonly]="true" value="{{ termine?.sat | date: 'dd.MM.yyyy' }} " />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxFlex="5px" fx class="content">
      <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
    </div>
    <div fxLayout="column" fxFlex="68" style="position: relative; top: -10px">
      <table mat-table [dataSource]="matDataSource">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="Gewerk">
          <th mat-header-cell *matHeaderCellDef>{{ 'label.einzelauskunft.terminegewerk' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.gewerk }}</td>
        </ng-container>

        <ng-container matColumnDef="BeginnTermin">
          <th mat-header-cell *matHeaderCellDef>{{ 'label.einzelauskunft.terminebeginn' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <span style="white-space: pre">{{ setTermin(element.beginnTermin, element.beginnTyp) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="IstSequenzTermin">
          <th mat-header-cell *matHeaderCellDef>{{ 'label.einzelauskunft.termineistseq' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <span style="white-space: pre">{{ setTermin(element.istSequenzTermin, element.istSequenzTyp) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="TeilsendungTermin">
          <th mat-header-cell *matHeaderCellDef>{{ 'label.einzelauskunft.termineteilsendung' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.teilsendungTermin | date: 'dd.MM.yyyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="StornoTermin">
          <th mat-header-cell *matHeaderCellDef>{{ 'label.einzelauskunft.terminestorno' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.stornoTermin | date: 'dd.MM.yyyy HH:mm' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
