<div class="content">
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle [cdkDragConstrainPosition]="constrainPosition">
    {{ titel }}
  </h1>
  <div mat-dialog-content>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="40">
        <div fxLayout="row">{{ 'label.heberhaus.terminHeberhaus' | translate }}</div>
        <div fxLayout="row">&nbsp;</div>

        <div fxLayout="row">{{ 'label.heberhaus.istPnr' | translate }}</div>
        <div fxLayout="row">{{ 'label.heberhaus.fpunkt' | translate }}</div>
        <div fxLayout="row">{{ 'label.heberhaus.istLfdNrLmt' | translate }}</div>
        <div fxLayout="row">{{ 'label.heberhaus.istTermin' | translate }}</div>
      </div>
      <div fxLayout="column" fxFlex="60">
        <div fxLayout="row">
          {{ auftragheberhaus.terminHeberhaus | date: 'dd.MM.yyyy HH:mm' }}&nbsp; {{ setTyp(auftragheberhaus.terminHeberhausTyp) }}&nbsp;
        </div>
        <div fxLayout="row">&nbsp;</div>

        <div fxLayout="row">{{ auftragheberhaus.istPnr }}&nbsp;</div>
        <div fxLayout="row">{{ auftragheberhaus.fertigungspunkt }}&nbsp;</div>
        <div fxLayout="row">{{ auftragheberhaus.istLfdNrLmt }}&nbsp;</div>
        <div fxLayout="row">{{ auftragheberhaus.istTermin | date: 'dd.MM.yyyy HH:mm' }}&nbsp; {{ setTyp(auftragheberhaus.istTerminTyp) }}</div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <mat-dialog-actions style="width: 100%" fxLayoutAlign="end">
      <button type="submit" mat-raised-button color="primary" (click)="onClickOk()">
        <mat-icon>cancel</mat-icon> {{ 'button.einzelauskunft.close' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
