@import "../styles.scss";

.connectionLost {
  background-color: $warn-color;
  color: white;
  margin-left: calc(50vw - 24px);
  position: absolute;
  top: 0;
  z-index: 1031;
}

::ng-deep .connection-lost-tooltip {
  z-index: 1031;
  background-color: $warn-color;
}
