<button
  *ngIf="!contextService.connectionOk"
  mat-fab
  color="warn"
  class="connectionLost"
  matTooltip="Daten konnten nicht mit dem Server abgeglichen werden. Letzte erfolgreiche Serververbindung: {{
    contextService.lastWorkingRequest | date: 'H:mm'
  }} Uhr"
  matTooltipClass="connection-lost-tooltip"
  (click)="actionTestServerConnection()"
>
  <mat-icon>offline_bolt</mat-icon>
</button>

<dai-ui-frame [keycloakInstance]="keycloakInstance" [appRoutes]="appRoutes" [appTitle]="title" [appInfo$]=""> </dai-ui-frame>
