@import '../../../../../styles.scss';

// remove opaque layer and set color to deep black (replaces black 0.87)
::ng-deep.mat-tab-label {
  color: black !important;
  opacity: 1 !important;
}

.mat-list-item {
  color: black;
  opacity: 1;
}

/**
* Style for active tab
*/
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: $primary-color-even-lighter;
  font-weight: 700;
  color: black;
  opacity: 1;
}
