.content {
  padding: 16px;
}
.selectItem {
  width: 100px;
}

.selectItemLong {
  width: 180px;
}

.selectItemNewLong {
  width: 600px;
}

.selectItemExtraLong {
  width: 800px;
}

.selectItemShort {
  width: 40px;
}
