.content {
  padding: 16px;
}
.selectItem {
  width: 100px;
}

.selectItemLong {
  width: 180px;
}

.selectItemNewLong {
  width: 580px;
}

.selectItemExtraLong {
  width: 800px;
}

.selectItemShort {
  width: 40px;
}

.background_white {
  background-color: #ffffff;
}

.background_yellow {
  background-color: #ffff84;
}

.background_green {
  background-color: #ccffcc;
}

.background_magenta {
  background-color: #ff83ff;
}
