<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle [cdkDragConstrainPosition]="constrainPosition">{{ titel }}</h1>
<div mat-dialog-content>
  <ul style="list-style: none">
    <li *ngFor="let elem of liste">
      {{ elem }}
    </li>
  </ul>
</div>
<div>
  <mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary" (click)="onClickOk()">
      <mat-icon>cancel</mat-icon> {{ 'button.einzelauskunft.close' | translate }}
    </button>
  </mat-dialog-actions>
</div>
